body, html {
  margin: 0;
}

#search-input {
  text-align: center;
  width: 90%;
  height: 40px;
  background-color: transparent;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 100px;
  padding: 0;
}


#submit {
  margin-top: 16px;
  margin-bottom: 16px;
}



.bg {
  /* The image used */
  background-image: url("../images/weather-background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myGrid {
  display: grid;
  padding: 0 100px 100px 100px;
  grid-template-columns: 33% 66%;
  grid-template-rows: 300px 500px;
}

.box {
  color: white;
}

.box1 {
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px dotted white;
}

.box2 {
  background-color: rgba(0,0,0,0.7);
}

.box3 {
  background-color: rgba(0,0,0,0.5);
  display: grid;
  grid-template-rows: 50% 50%;
}

.box4 {
  background-color: rgba(0,0,0,0.1);
}

.city {
  height: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#map {
  height: 100%;
  width: 100%;
  background-size: cover;
}
